.container {
  background-image: linear-gradient(#f1ccbe, #eef7ff);
}

h1 {
  color: #3e3f41;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-family: "Oxygen", sans-serif;
}

h1 i {
  color: rgb(180, 0, 0);
  font-size: 30px;
  margin: 0px;
}
h2 {
  color: #3e3f41;
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-family: "Oxygen", sans-serif;
}

p {
  text-align: center;
  color: #5e6063;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
}

p i {
  color: rgb(252, 210, 24);
  font-size: 60px;
}

footer {
  text-align: center;
  margin: 0px;
  padding: 40px;
  color: rgb(15, 15, 117);
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
}

nav {
  padding: 50px;
  margin: 50px;
  display: inline-block;
  position: fixed;
  font-family: "Oxygen", sans-serif;
}
.row {
  font-family: "Oxygen", sans-serif;
  color: #3e3f41;
  text-align: center;
  font-size: 20px;
}

.row i {
  color: rgb(33, 56, 119);
  font-size: 35px;
}
